.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.title, .subtitle {
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.total-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.report-list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.report {
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
  max-width: 300px;
}

.input-container {
  display: flex;
  max-width: 80%;
}

input {
  border-radius: 5px;
  padding: 5px;
  width: 60%;
}

button {
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: dodgerblue;
  width: 75px;
}

.resume {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
